@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;0,700;0,800;0,900;1,900&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
}

#logo-preto{
    display: inline;
}

#logo-branco{
    display: none;
}

.slider-label{
    color: white;
    width: 600px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.slider-label p{
    font-size: 14px;
    margin-top: 0;
}

.main-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.slider-test{
    background-color: #292B3D;
    width: 60%;
    border-radius: 6px;
    height: 60vh;
    margin-top: 10px;
    -webkit-box-shadow: 10px 10px 9px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 9px -3px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 9px -3px rgba(0,0,0,0.75);
}

body{
    margin: 0;
}

.nav{
    display: flex;
    align-items: center;
    height: 50px;
}

.nav img{
    max-height: 80%;
}

.slider-test{
    display: none;
}

.test-header{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 1vh;
    width: 100%;
}

.test-header h3{
    width: 85%;
    font-weight: 600;
    color: white;
    text-align: center;
}

.question{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.question h5{
    font-size: 20px;
    color: white;
    font-weight: 600;
    max-width: 80%;
    text-align: center;
}

.test-footer{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.test-footer h5{
    font-size: 16px;
    color: white;
    font-weight: normal;
}

#button-next-slider{
    margin-top: 90px;
}

@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
    #button-next-slider{
        margin-top: 110px;
    }
}

.test-footer button{
    background-color: #FFD600;
    height: 50px;
    width: 120px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.slider {
    -webkit-appearance: none;
    width: 600px;
    height: 8px;
    border-radius: 5px;  
    background: white;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border: 1px black solid;
    border-radius: 50%; 
    background: #282828;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px black solid;
    background: #282828;
    cursor: pointer;
}

.slider-header{
    color: #292B3D;
    text-align: center;
}

.questions-container{
    display: flex;
    background-color: #292B3D;
    width: 85%;
    border-radius: 6px;
    -webkit-box-shadow: 5px 5px 9px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 9px -3px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 9px -3px rgba(0,0,0,0.75);
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    height: 70vh;
}

.square-test{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

.box{
    z-index: 2;
    display: flex; 
    flex-basis: 30%;  
    flex-direction: column;
    /* max-height: 50%; */
    color: #292B3D;
    height: 40%;
    background-color:#fff;
    border-radius: 5px;
}

.box p{
    font-size: 18px;
    text-align: center;
    margin-right: 10px;
    font-weight: 500;
    background-color: #fff;
}

.box img{
    margin: 0 auto;
    max-width: 60%;
    background-color: white;
    max-height: 70%;
}

.square-header{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.square-header h3{
    width: 85%;
    font-weight: 600;
    color: #292B3D;
    text-align: center;
    font-size: 24px;
}

.question{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.question h5{
    font-size: 20px;
    color: white;
    font-weight: 600;
}

.checked{

    background-color: #3E4F4F;
    color: #ffffff;
}

.checked p{
    background-color: #3E4F4F;
}

.checked img{
    background-color: #3E4F4F;
}

@media only screen and (max-device-width: 625px ){
    
    body{
        margin: 0;
    }

    #logo-preto{
        display: none;
    }
    
    #logo-branco{
        display: inline;
    }

    .square-wrapper{

        margin: 0 auto;
        margin-top: 35px;
        width: 90%;
        height: 76vh;
        background-color: #FFD600;
        box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.25);
        border-radius: 20px;

        display: flex;
        justify-content: center;
        /* align-items: center; */
        text-align: center;
    }

    .questions-wrapper{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-direction: row;
        width: 95%;
        border-radius: 0px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        height: auto;
        margin: 0 auto;
    }

    .buttons{
        margin-top: 20px;
        text-align: center;
    }

    .buttons a{

        font-family: Work Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 75px;
        text-decoration: none;
        color: #292929;
    }

    #question-title{
        width: 100%;
        font-family: Work Sans;
        font-style: normal;
        font-weight: bold;
        margin-top: 20px;
        font-size: 30px;
        color: #292929;
        background-color: #FFD600;
    }
    
    #freepik_stories-kids-studying-from-home{

        max-height: 400px;
    }

    #nxt-button:hover{
        cursor: pointer;
    }

    #welcome-text{
        box-sizing: border-box;
        width: 95%;
        font-family: Work Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        color: #292929;
        margin-left: 10px;
        text-align: center;
    }

    #imc-text{
        box-sizing: border-box;
        width: 80%;
        font-family: Work Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 27px;
        color: #292929;
        margin-left: 10%;
        text-align: center;
    }

    ::placeholder{
        color: #292929;
        opacity: 0.95;
    }

    .imc-form{
        font-family: 'Work Sans', 'Font Awesome 5 Free';
        font-size: 30px;
        width: 85%;
        margin-top: 10px;
        height: 70px;
    }

    .imc-select{
        font-family: 'Work Sans', 'Font Awesome 5 Free';
        font-size: 30px;
        width: 89%;
        margin-top: 10px;
        height: 70px;
    }

    .questions-container{
        background-color: #292B3D;
        width: 95%;
        border-radius: 0px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        height: auto;

    }

    .slider-label{
        color: #282828;
        width:80%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    
    .slider-label p{
        font-size: 14px;
        margin-top: 0;
    }    

    .main-wrapper{
        display: inline;
    }

    .slider-questions{
        width: 100%;
    }

    #slider-text{
        width: 80%;
        font-family: Work Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        color: #292929;
        margin-left: 10%;
        text-align: justify;
    }

    .square-header h3{

        color: white;
        text-align: center;
        margin-left: 2px;
        margin-right: 2px;
        padding: 10px;
    }

    .questions-container{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    .box{
        display: flex; 
        height: 20vh;
        flex-basis: 44%;  
        flex-direction: column;
        max-height: 50%;
        color: #292B3D;
        margin-top: 2%;
        border-radius: 5px;
        background: #f5f5f5;
        box-shadow: inset 7px 6px 5px rgba(0, 0, 0, 0.25);
      }
    
      .box p{
          font-size: 18px;
          text-align: center;
          margin-right: 10px;
          font-weight: 500;
          background-color: #fff;
      }
    
      .box img{
        margin: 0 auto;
        margin-top: 14px;
        background: #f5f5f5;
        width: 60%;
        height: auto;
      }
    
      .box a{
          border-radius: 5px;
          font-size: 24px;
          margin-right: 10px;
          margin-bottom: 5px;
          text-align: right;
          text-decoration: none;
          color: #292B3D;
          background-color: white;
          font-weight: normal;
      }


    
    .slider-test{
        display: none;
        background-color: #292B3D;
        width: 100%;
        height: 100%;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .nav{
        background-color: #FFD600;
        height: 50px;
        margin: 0;
        display: flex;
        align-items: center;
        height: 50px;
    }

    .nav img{
        background-color: #FFD600;
        max-height: 50%;
        margin-left: 20px;
    }

    .test-header{
        display: flex;
        align-content: center;
        justify-content: center;
        width: 100%;
    }

    .test-header h3{
        width: 85%;
        font-weight: 600;
        color: white;
        text-align: center;
    }

    .question{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }

    .question h5{
        font-size: 20px;
        color: #282828;
        font-weight: 600;
        max-width: 85%;
        text-align: center;
    }

    .test-footer{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .test-footer h5{
        font-size: 16px;
        color: white;
        font-weight: normal;
    }

    .test-footer button{
        background-color: #FFD600;
        height: 40px;
        width: 100px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        color: white;
    }

    #button-next-slider{
        margin-top: 20px;
    }

    .slider {
        -webkit-appearance: none;
        width: 80%;
        height: 8px;
        border-radius: 5px;  
        background: #fff;
        border: 1px black solid;
        outline: none;
        opacity: 1;
        -webkit-transition: .2s;
        transition: opacity .2s;
      }
      
      .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        border: 1px black solid;
        width: 25px;
        height: 25px;
        border-radius: 50%; 
        background: #282828;
        cursor: pointer;
      }
      
      .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 1px black solid;
        background: #282828;
        cursor: pointer;
      }

      .checked{

        background-color: #282828;
        color: #ffffff;
    }
    
    .checked p{
        background-color: #3E4F4F;
    }
    
    .checked img{
        background-color: #3E4F4F;
    }

    .slider-header{
        color: #ffffff;
        padding: 0px 20px 0px 20px;
        text-align: center;
    }

    #button-next{
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .box img {
        margin: 0 auto;
        max-width: 60%;
        background-color: white;
        max-height: 69%;
    }

    #button-next-slider {
        margin-top: 75px;
    }

    .square-header h3 {
        width: 100%;
        font-weight: 600;
        color: #292B3D;
        text-align: center;
        font-size: 24px;
    }

    .checked{

        background-color: #3E4F4F;
        color: #ffffff;
    }

    .checked p{
        background-color: #3E4F4F;
    }

    .checked img{
        background-color: #3E4F4F;
    }

    #result-msg{
        margin: 0 auto;
        width: 75%;
    }
}



/* Animações  */
svg#freepik_stories-kids-studying-from-home:not(.animated) .animable {opacity: 0;}svg#freepik_stories-kids-studying-from-home.animated #freepik--background-simple--inject-49 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) fadeIn,1.5s Infinite  linear wind;animation-delay: 0s,1s;}svg#freepik_stories-kids-studying-from-home.animated #freepik--character-2--inject-49 {animation: 6s Infinite  linear wind;animation-delay: 0s;}svg#freepik_stories-kids-studying-from-home.animated #freepik--character-1--inject-49 {animation: 6s Infinite  linear wind;animation-delay: 0s;}            @keyframes fadeIn {                0% {                    opacity: 0;                }                100% {                    opacity: 1;                }            }                    @keyframes wind {                0% {                    transform: rotate( 0deg );                }                25% {                    transform: rotate( 1deg );                }                75% {                    transform: rotate( -1deg );                }            }        .animator-hidden { display: none; }