@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;0,700;0,800;0,900;1,900&display=swap');

*{
    background-color: #fff;
    font-family: 'Work Sans', sans-serif;
    -webkit-font-smoothin: antialiased;
    color:  rgb(41, 41, 41);
    overflow: auto;
}

.navbar{
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
    width: 100%;
    height: 10%;
}

.web-vector{
    display: none;
}

.logo{
    width: 50%;
    margin-left: 8vw;
}

.logo img{
    max-width: 230px;
}
.social{
    padding-right: 3vw;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
}

.social i{
    font-size: 36px;
    margin-right: 4vw;
}

.social i:first-of-type{
    margin-right: 1vw;
}

.main-wrapper{
    width: 100%;
    height: 85%;
}

.main-text{
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: space-evenly;
    width: 50%;
    margin-left: 8vw;
}

.main-text h1{
    font-style: normal;
    font-weight: 500;
    color:  rgb(41, 41, 41);;
    font-size: 42px;
    max-width: 70%;
    /* margin-left: 4vw; */
}

.main-text button{
    background: #FFD600;
    border-radius: 5px;
    /* margin-left: 4vw; */
    border: none;
    width: 262px;
    height: 67px;
    font-style: normal;
    font-weight: bolder;
    font-size: 36px;
    box-shadow: 9px 5px 18px 6px rgba(0, 0, 0, 0.25);
}

#init-test:hover{

    box-shadow: 10px 15px 18px 6px rgba(0, 0, 0, 0.25);
    cursor: pointer;

}

.main-vector{
    width: 50%;
}

.main-vector img{
    max-width: 650px;
}

@media only screen and (max-device-width: 625px ){
    
    .social{
        display:none;
    
    }
    
    .navbar{
        display: flex;
        margin-top: 30px;
        align-content: center;
        justify-items: center;
        justify-content: center;
        width: 100%;
        height: 10%;
    }

    .logo{
        text-align: center;
        width: 100%;
    }
    
    .logo img{
        max-width: 200px;
    }

    .main-text{
        width: 100%;
        margin-left: 0px;
        text-align: center;
    }

    .main-vector{
        display: none;
    }

    .web-vector{
        display: inline;
    }

    .main-text h1{
        color: rgb(41, 41, 41);
        max-width: 90%;
        font-size: 36px;
        font-weight: 600;
        text-align: left;
        margin-left: 30px;
        margin-bottom: 60px;
    }

    .bolder{
        
        font-weight: 800;
    }

    .main-text button{
        margin: 0 auto;
        height: 60px;
        width: 200px;
        font-size: 28px;
        margin-bottom: 30px;
        font-weight: 800;
        margin-top: 70px;
    }

    .main-text img{
        max-width: 100%;
    }

    .main-wrapper{
        display: flex;
        align-content: center;
        justify-content: space-evenly;
        width: 100%;
        height: 85%;
    }

    .main-text{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {

}